SPRING_PROFILES_ACTIVE=dev
SERVER_PORT=8080

DB_URL=jdbc:postgresql://localhost:5432/mydb
DB_USERNAME=myuser
DB_PASSWORD=mypassword
HIBERNATE_DDL_AUTO=create-drop

ALLOWED_CORS_URL=http://localhost:3000
ALLOWED_ORIGINS=http://localhost:3000
JWT_PUBLIC_KEY=classpath:certificates/pub-key.pem